*{
   box-sizing: border-box;
   margin: 0;
}
/*https://api.weatherapi.com/v1/current.json?key=5cf2b00c80444766967171544240309&q=delhi */
body{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
background-color: rgba(0, 0, 0, 0.847);
}
.card{
    width: 470px;
    height: 620px;
   
    background-color: rgba(0, 255, 255, 0.882);
    margin: 0px auto;
    padding: 10px 20px;
    border-radius: 20px;
}
.margin-0{
    margin: 0px 0px;
    text-align: center;
}
.searches{
    margin-top:10px ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.search-input{
position: relative;
width: 72%;


}
.city{
    width: 100%;
    border: 1px solid  lightgray;
    padding: 10px 14px;
    border-radius: 14px;
    font-size: 16px;
    



    &:focus{
        outline: none;
    }
}
.search-img{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 90%;
    top: 9px;
    
}
.btn{
    width: 25%;
    border: 1px solid  lightgray;
    border-radius: 14px;
    font-size: 16px;
}
.content{
    margin-top: 30px;
   text-align: center;

}
 .weather-img{
    width: 150px;
    height: 150px;
    margin-top:0px ;
   
    
}
.content .temp{
    margin: 10px;
}
.content .city-name{
    margin: 10px;
}
.humidity{
    display: flex;
    gap: 10px;
    
    
    
}
.humidity-h2{
    margin:0px 0px ;
}
.humidity img{
   width: 40px;
   height: 40px;
}
.wind{
    display: flex;
    gap: 10px;
}
.wind-h3{
    margin:0px 0px ;
}
.wind-img{
    width: 40px;
    height: 40px;
}
.humidity-wind{
  
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
}
p{
    margin-top: 0px;
    color: gray;
}

